body {
    background-image:url('pic/mono.jpg');
    background-size:cover;
}
.picker-wrapper, 
.slide-wrapper {
    position: relative;
    float: left;
}
.picker-indicator,
.slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.picker,
.slide {
    cursor: crosshair;
    float: left;
}
.cp-default {
    background-color: gray;
    padding: 12px;
    box-shadow: 0 0 40px #000;
    border-radius: 15px;
    float: left;
}
.cp-default .picker {
    width: 200px;
    height: 200px;
}
.cp-default .slide {
    width: 30px;
    height: 200px;
}
.cp-default .slide-wrapper {
    margin-left: 10px;
}
.cp-default .picker-indicator {
    width: 5px;
    height: 5px;
    border: 2px solid darkblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
}
.cp-default .slide-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid lightblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}
#function-column{
    position: absolute;
    right: 0px;
    width: 400px;
    height: 100%;
}
#main-area{
    margin-right:400px;
    height:100%;
    overflow: hidden;
}
#canvas{
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow:3px 3px 5px 6px rgba(0,0,0,0.2);
}
#brush-size{
    margin-top: 20px;
}
#fontSetting{
    width: 400px;
}
#brush{
    background-image: url('pic/brush.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 40px 20px 20px 20px;
}
#brush.click{
    background-color:white;
}
#brush:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#eraser{
    background-image: url('pic/eraser.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 40px 20px 20px 20px;
}
#eraser.click{
    background-color:white;
}
#eraser:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#text{
    background-image: url('pic/text.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 40px 20px 20px 20px;
}
#text.click{
    background-color:white;
}
#text:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#circle{
    background-image: url('pic/circle.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#circle.click{
    background-color:white;
}
#circle:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#triangle{
    background-image: url('pic/triangle.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#triangle.click{
    background-color:white;
}
#triangle:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#rectangle{
    background-image: url('pic/rectangle.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#rectangle.click{
    background-color:white;
}
#rectangle:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#line{
    background-image: url('pic/line.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px 30px 20px 5px;
}
#line.click{
    background-color:white;
}
#line:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#upload{
    display: inline-block;
    background-image: url('pic/upload.png');
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    margin: 0px 8px 0px 29px;
}
#upload.click{
    background-color:white;
}
#upload:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#download{
    background-image: url('pic/download.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
}
#download.click{
    background-color:white;
}
#download:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#undo{
    background-image: url('pic/undo.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#undo:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#redo{
    background-image: url('pic/redo.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#redo:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#reset{
    background-image: url('pic/reset.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#reset:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.dropbtn {
    background-color:rgba(0,0,0,0.2);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.5);
}
#solid{
    background-image: url('pic/solid.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#solid.hollow{
    background-image: url('pic/hollow.png')
}
#solid:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}
#rainbow{
    background-image: url('pic/rainbow.png');
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
}
#rainbow.click{
    background-color:white;
}
#rainbow:hover{
    -webkit-filter: invert(100%);
    background-color: transparent;
    border: 2px white;
    border-radius: 15px;
}